.search-bar {
  width: 630px;
  height: 48px;
  background-color: #F6F5F2;
  border-radius: 10px;
  margin: 12px auto;
  display: flex;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;

  input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #333;

    &::placeholder {
      color: #9F9F9F;
      font-weight: 500;
    }
  }
}