.brands-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 90px 0;
  gap: 40px;

  .brands-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
    flex-wrap: wrap;

    .brand-circle {
      width: 211px;
      height: 211px;
      background-color: #FFFFFF;
      border-radius: 50%;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.13); 
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      .logo {
        width: 117px;
        height: 42.76px;
      }
    }
  }
}